.u-section-1 {
  min-height: 500px;
}

.u-section-1 .u-sheet-1 {
  min-height: 555px;
}

.u-section-1 .u-table-1 {
  width: 1080px;
  margin: 30px auto 0;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-block-ee9a-29 {
  height: 46px;
}

.u-section-1 .u-image-1 {
  width: 201px;
  height: 150px;
  margin: -172px auto 0 117px;
}

.u-section-1 .u-text-1 {
  margin: 53px auto 0 710px;
}

.u-section-1 .u-table-2 {
  width: 400px;
  margin: 15px auto 0 710px;
}

.u-block-ee9a-42 {
  height: 46px;
}

.u-block-ee9a-51 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px 30px 30px auto;
  padding: 13px 68px 14px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    height: 149px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 585px;
  }

  .u-section-1 .u-table-2 {
    margin-left: 585px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 448px;
  }

  .u-section-1 .u-table-2 {
    margin-left: 448px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 336px;
  }

  .u-section-1 .u-table-2 {
    margin-left: 336px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 212px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    margin-left: 212px;
  }
}